extends ../layout/layout.jade

block head
	- var pageTitle = 'template';
	- var pageDescription = 'index description'
	- var pageKeywords = 'inde keywords'
	- var pageStyleLink = 'css/common.css'
block main
	main